body {
    font-family: Arial, sans-serif;
    background-color: #cfa67d;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
  }
  
  .cart-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 500px;
    padding: 20px;
    text-align: center;
  }
  
  .cart {
    text-align: left;
  }

  a {
    text-decoration: none;
    color: black;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .cart-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .item-name {
    font-size: 16px;
    color: #555;
  }
  
  .item-price {
    font-size: 16px;
    color: #888;  
  }

  #nome-item {
    width: 50%;
  }
  
  .remove-item {
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .remove-item:hover {
    background-color: #e04e4e;
  }
  
  .total {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .total-price {
    color: #e74c3c;
  }
  
  .checkout-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #27ae60;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
  }
  
  .checkout-btn:hover {
    background-color: #2ecc71;
  }

  #voltar-cardapio {
    text-align: left;
  }

  
  /* Estilos do Modal */
.modal {
  display: none; /* O modal estará oculto inicialmente */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente */
  overflow: auto;
  padding-top: 60px;
}

.modal-content {
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  text-align: center;
  border-radius: 10px;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

h3 {
  color: green;
}

@media (max-width: 575.98px) {
  #nome-item {
    width: 30%;
  }
}